<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.test.dao.MemberDao">

  <select id="selectOne" resultType="Member" parameterType="String">
    select * from tb_member where email=#{email}
  </select>
  
  <select id="login" resultType="int" parameterType="Member">
    select count(*) from tb_member where email=#{email} and password=password(#{password})
  </select>
  
  <insert id="insert" parameterType="Member">
    insert into tb_member(name,email,password) values(#{name},#{email},password(#{password}))
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from tb_member where no=#{no}
  </delete>
  
</mapper>