<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.test.dao.UserDao">

  <select id="selectList" resultType="User" parameterType="int">
    select uno, name from tb_user where no=#{no} order by name asc
  </select>

  <select id="selectOne" resultType="User" parameterType="int">
    select * from tb_user where uno=#{uno}
  </select>

   <update id="update" parameterType="User">
    update tb_user set no=#{no}, name=#{name}, hphone=#{hphone}, phone=#{phone}, fax=#{fax}, email=#{email},memo=#{memo} where uno=#{uno}
  </update>
  
  <insert id="insert" parameterType="User">
    insert into tb_user (no,name,hphone,phone,fax,email,memo) values(#{no}, #{name}, #{hphone}, #{phone}, #{fax}, #{email},#{memo})
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from tb_user where uno=#{uno}
  </delete>

  <select id="searchName" resultType="User" parameterType="String">
    select uno, name from tb_user where name like CONCAT('%', #{sName}, '%') order by name asc
  </select>
  <!-- 사용자별 검색하기 위해 no추가 하기
   select uno, name from tb_user where no=#{no} and name like CONCAT('%', #{sName}, '%') order by name asc -->
</mapper>